@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-radio {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 22px;
  margin: 0;
  padding: 0;
  color: $ccui-color-text;
  font-size: $ccui-font-size;
  font-weight: normal;
  line-height: $ccui-line-height-base;
  cursor: pointer;
  transition: color $ccui-motion-duration-mid $ccui-motion-ease-in-out;

  &__input {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
  }

  &__icon {
    position: relative;
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-inline-end: 8px;
    color: $ccui-color-border;
    line-height: 1;
    vertical-align: middle;
    user-select: none;
    transition: color $ccui-motion-duration-mid $ccui-motion-ease-in-out;

    svg {
      display: none;
    }

    &::before {
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      content: '';
      background-color: $ccui-color-bg-container;
      border: 1px solid currentColor;
      border-radius: 50%;
      transition:
        border-color $ccui-motion-duration-mid $ccui-motion-ease-in-out,
        box-shadow $ccui-motion-duration-mid $ccui-motion-ease-in-out;
    }

    &::after {
      position: absolute;
      width: 8px;
      height: 8px;
      content: '';
      background-color: $ccui-color-primary;
      border-radius: 50%;
      transform: scale(0);
      opacity: 0;
      transition:
        transform $ccui-motion-duration-mid $ccui-motion-ease-in-out,
        opacity $ccui-motion-duration-mid $ccui-motion-ease-in-out;
    }
  }

  &:not(.disabled):hover {
    .#{$cls-prefix}-radio__icon {
      color: $ccui-color-primary;
    }
  }

  &.active {
    color: $ccui-color-text;

    .#{$cls-prefix}-radio__icon {
      color: $ccui-color-primary;

      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &.disabled {
    color: $ccui-color-text-disabled;
    cursor: not-allowed;

    .#{$cls-prefix}-radio__icon {
      color: $ccui-color-border-disabled;

      &::before {
        background-color: $ccui-disabled-bg;
      }

      &::after {
        background-color: $ccui-color-text-disabled;
      }
    }
  }
}
