@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-radio-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &.is-row {
    flex-direction: row;
  }

  &.is-column {
    flex-direction: column;
  }

  .#{$cls-prefix}-radio {
    &:not(:last-child) {
      margin-inline-end: 8px;
    }
  }
}
