@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-avatar {
  display: inline-block;
  vertical-align: middle;

  &__style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $ccui-color-text-light-solid;
    background-color: $ccui-color-fill;
    text-align: center;
    line-height: 1;
    overflow: hidden;
  }

  &--background-0 {
    background-color: #f56a00;
  }

  &--background-1 {
    background-color: $ccui-color-primary;
  }
}
