.DS_Store
node_modules
/build
**/dist
**/lib

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip

packages/okUiVue/okUi/okUiVue.ts
packages/okUiVue/okUi/theme/theme.scss
packages/okUiVue/docs/.vitepress/config/sidebar.ts
packages/okUiVue/docs/.vitepress/config/enSidebar.ts
.pnpm-debug.log
