.DS_Store
node_modules
dist
dist-ssr
**/lib

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip

packages/ccui/ui/vue-ccui.ts
packages/theme/theme.scss
packages/theme/darkTheme.css
packages/ccui/build
**/.vitepress/config/sidebar.ts
**/.vitepress/config/enSidebar.ts
**/.vitepress/config.ts.js
**/.vitepress/cache

**CHANGELOG.md
# test
packages/ccui/coverage
packages/ccui/ui/**/__snapshots__
.pnpm-debug.log
