@import '../../style-var/index.scss';

.#{$cls-prefix}-card {
  overflow: hidden;
  color: $ccui-text;
  background: $ccui-global-bg-normal;
  border: 1px solid $ccui-line;
  border-radius: $ccui-border-radius-card;
  transition: 0.3s;

  &--header {
    box-sizing: border-box;
    padding: 18px 20px;
    border-bottom: 1px solid $ccui-dividing-line;
  }
}

.#{$cls-prefix}-card--always-shadow {
  box-shadow: $ccui-shadow-length-connected-overlay rgb(0 0 0 / 10%);
}

.#{$cls-prefix}-card--hover-shadow {
  &:hover,
  &:focus {
    box-shadow:$ccui-shadow-length-connected-overlay rgb(0 0 0 / 10%);
  }
}

.#{$cls-prefix}-card--never-shadow {
  box-shadow: none;
}
