@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-height: 0;
  background: $ccui-color-bg-layout;

  &--has-sider {
    flex-direction: row;

    > .#{$cls-prefix}-layout {
      width: 0;
    }
  }
}

.#{$cls-prefix}-layout-header {
  flex: 0 0 auto;
  height: 64px;
  padding: 0 24px;
  line-height: 64px;
  background: #001529;
  color: rgba(255, 255, 255, 0.85);
}

.#{$cls-prefix}-layout-footer {
  flex: 0 0 auto;
  padding: 24px 50px;
  color: $ccui-color-text;
  font-size: $ccui-font-size;
  background: $ccui-color-bg-layout;
}

.#{$cls-prefix}-layout-content {
  flex: auto;
  min-height: 0;
}

.#{$cls-prefix}-layout-sider {
  position: relative;
  min-width: 0;
  background: #001529;
  transition:
    all 0.2s,
    background 0s;

  &--light {
    background: $ccui-color-bg-container;
    border-inline-end: 1px solid $ccui-color-border-secondary;
  }

  &__children {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
  }

  &--has-trigger {
    padding-bottom: 48px;
  }

  &__trigger {
    position: absolute;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1;
    width: 100%;
    height: 48px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 48px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all $ccui-motion-duration-mid;

    &:hover {
      color: #ffffff;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &--light &__trigger {
    color: $ccui-color-text;
    background: $ccui-color-bg-container;
    border-top: 1px solid $ccui-color-border-secondary;

    &:hover {
      color: $ccui-color-primary;
    }
  }

  &__trigger-arrow {
    font-size: 16px;
    line-height: 1;
  }
}
