.demo-block {
  border: solid 1px var(--vp-c-border) !important;
}

.demo-block-control {
  background-color: var(--vp-c-bg) !important;
  border-top: solid 1px var(--vp-c-border) !important;
}

.meta {
  border-top: solid 1px var(--vp-c-border) !important;

  .description {
    border: solid 1px var(--vp-c-border) !important;
  }
}
