@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-tree {
  color: $ccui-text;

  &__indent {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  &__value-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 6px;
  }
}
