@mixin tabs-after {
  position: absolute;
  z-index: -1;
  content: '';
  background-color: #d7d8da;
}

@mixin tabs-item {
  padding: 4px 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.okUi-tabs-nav {
  &--top,
  &--bottom {
    position: relative;
    display: flex;

    &::after {
      @include tabs-after;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
    }

    &-item {
      @include tabs-item;

      border-bottom: 2px solid transparent;
    }

    &-item-active {
      color: #7693f5;
      border-bottom-color: #7693f5;
    }
  }

  &--left,
  &--right {
    position: relative;
    display: block;
    height: 100%;

    &::after {
      @include tabs-after;

      top: 0;
      width: 2px;
      height: 100%;
    }

    &-item {
      @include tabs-item;
    }

    &-item-active {
      color: #7693f5;
    }
  }

  &--left {
    float: left;

    &::after {
      right: 0;
    }

    &-item {
      border-right: 2px solid transparent;
    }

    &-item-active {
      border-right-color: #7693f5;
    }
  }

  &--right {
    float: right;

    &::after {
      left: 0;
    }

    &-item {
      border-left: 2px solid transparent;
    }

    &-item-active {
      border-left-color: #7693f5;
    }
  }
}

.okUi-tabs-nav-card {
  &--top,
  &--bottom {
    position: relative;
    display: flex;

    &::after {
      @include tabs-after;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
    }

    &-item {
      @include tabs-item;

      border: 1px solid #d7d8da;
      border-bottom: 2px solid transparent;

      &:first-of-type {
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
      }
    }

    &-item-active {
      color: #7693f5;
      border-bottom-color: #7693f5;
    }
  }

  &--left,
  &--right {
    position: relative;
    display: block;
    height: 100%;

    &::after {
      @include tabs-after;

      top: 0;
      width: 2px;
      height: 100%;
    }

    &-item {
      @include tabs-item;

      border: 1px solid #d7d8da;
    }

    &-item-active {
      color: #7693f5;
    }
  }

  &--left {
    float: left;

    &::after {
      right: 0;
    }

    &-item {
      border-right: 2px solid transparent;

      &:first-of-type {
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-bottom-left-radius: 4px;
      }
    }

    &-item-active {
      border-right-color: #7693f5;
    }
  }

  &--right {
    float: right;

    &::after {
      left: 0;
    }

    &-item {
      border-left: 2px solid transparent;

      &:first-of-type {
        border-top-right-radius: 4px;
      }

      &:last-of-type {
        border-bottom-right-radius: 4px;
      }
    }

    &-item-active {
      border-left-color: #7693f5;
    }
  }
}

.okUi-tabs-nav-border-card {
  &--top,
  &--bottom {
    position: relative;
    display: flex;
    background: #f5f7fa;
    border: 1px solid #e4e7ed;

    &::after {
      @include tabs-after;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }

    &-item {
      @include tabs-item;
    }

    &-item-active {
      color: #7693f5;
      background: #ffffff;
      border-right: 1px solid #e4e7ed;
      border-left: 1px solid #e4e7ed;
    }
  }

  &--top {
    margin-bottom: -1px;
    border-bottom: 1px solid transparent;
  }

  &--bottom {
    &-item-active {
      margin-top: -1px;
      border-top: 1px solid transparent;
    }
  }

  &--left,
  &--right {
    position: relative;
    display: block;
    height: 100%;
    background: #f5f7fa;
    border: 1px solid #e4e7ed;

    &::after {
      @include tabs-after;

      top: 0;
      width: 2px;
      height: 100%;
    }

    &-item {
      @include tabs-item;
    }

    &-item-active {
      color: #7693f5;
      background: #ffffff;
    }
  }

  &--left {
    float: left;

    &::after {
      right: 0;
    }

    &-item-active {
      margin-right: -1px;
      border-top: 1px solid #e4e7ed;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #e4e7ed;
    }
  }

  &--right {
    float: right;

    &::after {
      left: 0;
    }

    &-item-active {
      margin-left: -1px;
      border-top: 1px solid #e4e7ed;
      border-bottom: 1px solid #e4e7ed;
      border-left: 1px solid transparent;
    }
  }
}
