@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-dropdown-button {
  display: inline-flex;
  align-items: stretch;

  &__main {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &__trigger {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-inline-start: -1px;
    padding-inline: 8px;
  }

  &__arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid currentColor;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    vertical-align: middle;
  }

  &--disabled {
    cursor: not-allowed;
  }
}
