@import '../../style-var/index.scss';

.#{$cls-prefix}-check-box {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: $ccui-text;
  cursor: pointer;

  & label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // 隐藏inout元素方便后边自定义
  &__input {
    z-index: -1;
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    line-height: 16px;
    vertical-align: middle;
    user-select: none;
    fill: $ccui-text;
  }

  &.active {
    color: #7693f5;

    span {
      fill: #7693f5;
    }
  }

  &.disabled {
    color: gray;
    cursor: not-allowed;
    fill: gray;
  }
}
