@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-check-box {
  display: inline-flex;
  align-items: center;
  min-height: 22px;
  margin: 0;
  padding: 0;
  color: $ccui-color-text;
  font-size: $ccui-font-size;
  font-weight: normal;
  line-height: $ccui-line-height-base;
  cursor: pointer;
  transition: color $ccui-motion-duration-mid $ccui-motion-ease-in-out;

  & label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__input {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
  }

  &__icon {
    position: relative;
    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-inline-end: 8px;
    color: $ccui-color-border;
    line-height: 1;
    vertical-align: middle;
    user-select: none;
    transition: color $ccui-motion-duration-mid $ccui-motion-ease-in-out;

    svg {
      display: none;
    }

    &::before {
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      content: '';
      background-color: $ccui-color-bg-container;
      border: 1px solid currentColor;
      border-radius: $ccui-border-radius-sm;
      transition:
        background-color $ccui-motion-duration-mid $ccui-motion-ease-in-out,
        border-color $ccui-motion-duration-mid $ccui-motion-ease-in-out;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      box-sizing: border-box;
      width: 5px;
      height: 9px;
      content: '';
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: translate(-50%, -56%) rotate(45deg) scale(0);
      opacity: 0;
      transition:
        transform $ccui-motion-duration-mid $ccui-motion-ease-in-out,
        opacity $ccui-motion-duration-mid $ccui-motion-ease-in-out;
    }
  }

  &:not(.disabled):hover {
    .#{$cls-prefix}-check-box__icon {
      color: $ccui-color-primary;
    }
  }

  &.active {
    color: $ccui-color-text;

    .#{$cls-prefix}-check-box__icon {
      color: $ccui-color-primary;

      &::before {
        background-color: currentColor;
        border-color: currentColor;
      }

      &::after {
        transform: translate(-50%, -56%) rotate(45deg) scale(1);
        opacity: 1;
      }
    }
  }

  &.disabled {
    color: $ccui-color-text-disabled;
    cursor: not-allowed;

    .#{$cls-prefix}-check-box__icon {
      color: $ccui-color-border-disabled;

      &::before {
        background-color: $ccui-disabled-bg;
      }
    }

    &.active {
      .#{$cls-prefix}-check-box__icon {
        &::before {
          background-color: $ccui-color-fill;
          border-color: $ccui-color-border-disabled;
        }

        &::after {
          border-color: $ccui-color-text-disabled;
        }
      }
    }
  }
}
