@import '../../style-var/index.scss';

.#{$cls-prefix}-divider {
  position: relative;
  display: block;
  height: 1px;
  margin: 24px 0;
  border-top: 1px solid $ccui-dividing-line;

  &--vertical {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    border-left: 1px solid $ccui-dividing-line;
  }

  &__text {
    position: absolute;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: $ccui-text;
    background-color: $ccui-base-bg;
  }

  .is-left {
    left: 20px;
    transform: translateY(-50%);
  }

  .is-center {
    left: 50%;
    transform: translate(-50%) translateY(-50%);
  }

  .is-right {
    right: 20px;
    transform: translateY(-50%);
  }
}
