@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-card-grid {
  position: relative;
  float: left;
  width: 33.33%; // 默认与 ant 一致
  padding: 24px;
  border: 0;
  border-radius: 0;
  box-shadow:
    1px 0 0 0 $ccui-color-border,
    0 1px 0 0 $ccui-color-border,
    1px 1px 0 0 $ccui-color-border,
    1px 0 0 0 $ccui-color-border inset,
    0 1px 0 0 $ccui-color-border inset;
  transition: box-shadow $ccui-motion-duration-mid;
  box-sizing: border-box;

  &--hoverable {
    cursor: pointer;

    &:hover {
      z-index: 1;
      box-shadow: $ccui-box-shadow;
    }
  }
}
