.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.vp-doc table {
  width: 100%;
  display: table;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}
