@use '../../style-var/index.scss' as *;

$skeleton-bg: rgba(0, 0, 0, 0.06);
$skeleton-bg-active: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.15) 37%, rgba(0, 0, 0, 0.06) 63%);

.#{$cls-prefix}-skeleton-button {
  display: inline-block;
  width: 64px;
  min-width: 64px;
  height: 32px;
  background: $skeleton-bg;
  border-radius: $ccui-border-radius;
  vertical-align: middle;
  line-height: 32px;

  &--large {
    width: 80px;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
  }

  &--small {
    width: 48px;
    min-width: 48px;
    height: 24px;
    line-height: 24px;
  }

  &--round {
    border-radius: 100px;
  }

  &--circle {
    width: 32px;
    min-width: 32px;
    border-radius: 50%;
  }

  &--circle.#{$cls-prefix}-skeleton-button--large {
    width: 40px;
    min-width: 40px;
  }

  &--circle.#{$cls-prefix}-skeleton-button--small {
    width: 24px;
    min-width: 24px;
  }

  &--square {
    border-radius: 0;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--active {
    background: $skeleton-bg-active;
    background-size: 400% 100%;
    animation: ccuiSkeletonLoading 1.4s ease infinite;
  }
}

@keyframes ccuiSkeletonLoading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
