@import '../../style-var/index.scss';

.#{$cls-prefix}-calendar {
  width: 100%;
  background: $ccui-base-bg;

  &__header {
    padding: 5px;
    border: 1px solid $ccui-form-control-line;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  &__day-box,
  &__week {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .date-item {
      width: calc(100% / 7);
      height: 85px;
      padding: 8px;
      font-weight: 400;
      color: $ccui-text-weak;
      cursor: default;
      border-bottom: 1px solid $ccui-form-control-line;
      border-left: 1px solid $ccui-form-control-line;
    }

    .date-item:nth-of-type(7n) {
      margin-right: 0;
      border-right: 1px solid $ccui-form-control-line;
    }

    .date-item:hover {
      background: $ccui-list-item-active-hover-bg;
    }

    .current-month {
      color: $ccui-text;
    }

    .current-date {
      color: $ccui-list-item-active-text;
      background: $ccui-list-item-active-bg;
    }
  }

  &__week {
    border: 1px solid $ccui-form-control-line;
    border-top: none;


    .date-item {
      height: 40px;
      text-align: center;
      border: none;
    }
  }
}
