@import '../../style-var/index.scss';

.#{$cls-prefix}-calendar {
  width: 100%;
  background: $ccui-base-bg;

  &__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid $ccui-form-control-line;
    border-bottom: none;

    button {
      margin-left: 10px;
    }
  }

  .current-month {
    color: $ccui-text;
  }


  &__day-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;


    &--day {
      width: calc(100% / 7);
      height: 85px;
      padding: 8px;
      font-weight: 400;
      color: $ccui-text-weak;
      cursor: default;
      border-bottom: 1px solid $ccui-form-control-line;
      border-left: 1px solid $ccui-form-control-line;
    }

    &--day:nth-of-type(7n) {
      margin-right: 0;
      border-right: 1px solid $ccui-form-control-line;
    }

    &--day:hover {
      color: $ccui-list-item-active-text;
      background: $ccui-list-item-active-hover-bg;
    }


    .current-date {
      color: $ccui-list-item-active-text;
      background: $ccui-list-item-active-bg;
    }
  }

  &__week {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid $ccui-form-control-line;

    &--item {
      padding: 8px;
      width: calc(100% / 7);
      height: 40px;
      text-align: center;
      color: $ccui-text-weak;
      font-weight: 400;
      cursor: default;
    }
  }
}
