@import '../../style-var/index.scss';

.cc-button-3d {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  -webkit-tap-highlight-color: transparent;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  .front {
    display: block;
    position: relative;
    border-radius: 12px;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    padding: 12px 32px;
  }

  &.cc-button-3d--primary .edge {
    background: linear-gradient(
      to left,
      hsl(340deg 100% 32%) 0%,
      hsl(340deg 100% 16%) 8%,
      hsl(340deg 100% 16%) 92%,
      hsl(340deg 100% 32%) 100%
    );
  }

  &.cc-button-3d--primary .front {
    background: $ccui-primary;
    color: white;
  }

  &.cc-button-3d--secondary .edge {
    background: linear-gradient(
      to left,
      hsl(220deg 100% 32%) 0%,
      hsl(220deg 100% 16%) 8%,
      hsl(220deg 100% 16%) 92%,
      hsl(220deg 100% 32%) 100%
    );
  }

  &.cc-button-3d--secondary .front {
    background: $ccui-secondary;
    color: white;
  }

  &.cc-button-3d--text .edge {
    background: transparent;
  }

  &.cc-button-3d--text .front {
    background: transparent;
    color: $ccui-primary;
  }

  &:hover {
    filter: brightness(110%);
  }

  &:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }

  &:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &.cc-button-3d--large .front {
    font-size: 1.25rem;
    padding: 16px 42px;
  }

  &.cc-button-3d--medium .front {
    font-size: 1rem;
    padding: 12px 32px;
  }

  &.cc-button-3d--small .front {
    font-size: 0.875rem;
    padding: 8px 22px;
  }

  &.is-disabled {
    cursor: not-allowed;
    filter: grayscale(1);
  }
}
