@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-status {
  display: inline-flex;
  align-items: center;
  font-size: $ccui-font-size;
  color: $ccui-color-text;

  &::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-radius: 50%;
  }

  span {
    margin-left: 0;
  }

  &--invalid::before {
    background: $ccui-color-text-disabled;
  }

  &--error::before {
    background: $ccui-color-error;
  }

  &--initial::before {
    background: $ccui-color-fill;
  }

  &--warning::before {
    background: $ccui-color-warning;
  }

  &--waiting::before {
    background: $ccui-color-text-tertiary;
  }

  &--running::before {
    background: $ccui-color-primary;
  }

  &--success::before {
    background: $ccui-color-success;
  }
}
