@import '../../style-var/index.scss';

.#{$cls-prefix}-rate {
  display: inline-flex;
  align-content: center;

  &--read-only {
    span {
      cursor: not-allowed;
    }
  }

  &__icon {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    color: #e6e6e6;
    cursor: pointer;
    fill: #e6e6e6;

    span {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }

  &--active {
    color: #7693f5;
    fill: #6a81ed;
  }

  &__info {
    margin: 0;
  }
}
