@use '../../style-var/index.scss' as *;

.#{$cls-prefix}-rate {
  display: inline-flex;
  align-items: center;
  color: $ccui-color-warning;
  font-size: 20px;
  line-height: 1;

  &--read-only {
    span {
      cursor: not-allowed;
    }
  }

  &__icon {
    position: relative;
    width: 20px;
    height: 20px;
    margin-inline-end: 8px;
    color: $ccui-color-fill;
    cursor: pointer;
    fill: currentColor;
    transition:
      color $ccui-motion-duration-mid $ccui-motion-ease-in-out,
      transform $ccui-motion-duration-mid $ccui-motion-ease-in-out;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: currentColor;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &--active {
    color: $ccui-color-warning;
    fill: currentColor;
  }

  &__info {
    margin-inline-start: 8px;
    color: $ccui-color-text;
    font-size: $ccui-font-size;
    line-height: $ccui-line-height-base;
  }
}
